@mixin font($size, $weight, $lineHeight) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

.font_40 {
  @include font(2.5rem, 500, 2.5rem);
}

.font_20 {
  @include font(1.25rem, 500, 1.25rem);
}

.font_16 {
  @include font(1rem, 600, 1rem);
}

.font_15 {
  @include font(0.9375rem, 500, 1.25rem);
}

.font_13 {
  @include font(0.8125rem, 500, 0.8125rem);
}

.font_13_600 {
  @include font(0.8125rem, 600, 0.8125rem);
}

.font_12 {
  @include font(0.75rem, 500, 0.75rem);
}

.font_11 {
  @include font(0.6875em, 500, 0.6875rem);
}

.font_9 {
  @include font(0.5625rem, 500, 0.5625rem);
}

.font_8 {
  @include font(0.5rem, 400, 0.5rem);
}
