@import '../../style/variables';

.row {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(80px, auto);
  border-bottom: $white solid 2px;
}

.td_name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.td_body {
  text-align: center;
  font-size: 26px;
  color: $white;
}
