$common-black-text: #1e1e1e;
$common-white-text: #eaffff;
$common-placeholder-color: #999;
$link-button-text-color: #3369f3;
$red-alert: #ff2f2f;
$red-exit-link: #f00;
$button-bg-color: #3369f3;
$link-button-text-color: #3369f3;
$light-gray-chat: #efefef;
$light-gray-file-name: #8d8d8d;
$light-gray-message-time: #a9a9a9;
$divider: #eaeaea;
$back-button-background: #fbfbfb;
$avatar-hover-background: rgb(0 0 0 / 65%);
$incoming-messages-background: #f8f8f8;
$outgoing-messages-background: #e4edfd;
$add-user-button-background: #f5f5f5;
$button-color: #45cad6;
$shadow-color: #00000040;
$white: #ffffff;
$image-outline: #00000010;
$avatar-background: #d9d9d9;
