@import 'src/assets/style/variables';

.link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}

.active {
    font-size: 20px;
    color: $turquoise;
    text-decoration: underline;
}
