@import 'src/assets/style/variables';
@import 'src/assets/style/fonts';

.form_input_block_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form_label {
  color: $light-gray;
}

.form_input {
  border: none;
  border-bottom: 2px solid $light-blue;
  color: var(--common-black-text);
  padding-bottom: 0.167rem;
  width: 100%;
}

.form_input:focus,
.form_input:active,
.form_input:focus-visible {
  outline: none;
}

.form_input:disabled {
  border: none;
  background: none;
}

.form_input::placeholder {
  color: $light-gray;
}
