@import 'src/assets/style/variables';

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  color: $common-black-text;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

img,
svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.link_block {
  gap: 1rem;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.875rem;
}

.form_inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button-block_login-page {
  margin-top: 9.625rem;
}

.button-block_login-reg-page {
  margin-top: 2.9375rem;
}

.error_page_header {
  margin-bottom: 1.25rem;
}

.error-page_message {
  margin-top: 0;
  margin-bottom: 1.25rem;
}
