@import './animations/pulse.css';

html {
  box-sizing: border-box;
  font-size: 18px;
}

* {
  font-family: Pangolin, Inter, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

img {
  box-sizing: content-box;
}

table {
  border-collapse: collapse;
}

body {
  margin: 0;
}

@media (max-width: 1024px) {
  body::after {
    content: 'Unfortunately, the mobile version of the site is not supported.';
    z-index: 100000000000;
    height: 100%;
    width: 100%;
    padding: 0 20%;
    text-align: center;
    background: #414141;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
