@import 'src/assets/style/variables';

.button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.form_button {
  background-color: $button-bg-color;
  border-radius: 0.5rem;
  color: white;
  height: 2.3125rem;
  max-width: 17.5rem;
  width: 100%;
}