@import '../../../assets/style/variables.scss';
@import '../../../assets/style/fonts.scss';

.notFoundTitle {
  text-align: center;
  color: $azure;
}

.forumImage {
  box-shadow: none;
}

.forum {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.forumText {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $azure;
}

.commentsContainer {
  width: 100%;
  color: $azure;
  border: 1px solid $azure;
  background-color: $medium-turquoise;
  box-shadow: 0px 4px 4px 0px $shadow-color;
  padding: 12px 32px 32px 32px;
}

.commentsWrapper {
  height: 500px;
  overflow: auto;
}

.commentsDescription {
  margin-bottom: 16px;
}
