.settingsPageWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.userAvatarMargin {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
