@import '@styles/theme.less';

.leadersCardWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

  &__card {
    margin: 0 25px;
  }
}

.leaderboardTableWrapper {
  width: 100%;
  min-height: 40px;
  border-radius: @border-radius-sm;
  background: @grey;
  margin-top: 170px;
  padding: 1px 4px;
  display: grid;
  gap: 7px;
  grid-template-columns: repeat(2, 1fr);

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px 16px 26px;
    border-bottom: 1px solid @blue;
    font-size: 24px;
    font-weight: bold;
  }
  &__name {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 41px;
    padding-right: 12px;
    flex-grow: 2;
  }
  &__score {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
