@import 'src/assets/style/variables';
@import 'src/assets/style/fonts';

.link {
  border: none;
  background: none;
  color: $light-blue;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}