.layout {
    width: 100%;
    height: 100vh;
    background-image: url("./images/bkg-long.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    .left-section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}

.login-form-container {
    width: 50%;
    max-width: 540px;
    padding: 2.5rem;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.5rem;

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
