.layout {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    &_header {
        position: relative;
    }
}

.main-page {
    &__menu {
        width: 30%;
        padding: 1.5rem;
        background-color: transparent;
        border-inline-end: none;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 2.5rem;
    }

    .btn-start {
        width: 100%;
        height: 60px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.ant-switch.ant-switch-checked .ant-switch-inner .ant-switch-inner-checked {
    margin-inline-start: 6px;
    margin-inline-end: 28px;
}
.ant-switch .ant-switch-inner .ant-switch-inner-unchecked {
    margin-inline-start: 28px;
    margin-inline-end: 6px;
}
