.layout
  display: flex
  flex-direction: column
  min-height: 100vh
  overflow: hidden
  &_header.ant-layout-header
    z-index: 100
    background: transparent
    display: flex
    justify-content: center
    height: 100px
    margin-top: 30px
  &_header_img
    height: 100%
    object-fit: contain
  &_content
    flex: 1
    align-self: center
    padding: 50px
    width: 100%
    &-child
      display: flex
      justify-content: center
      align-items: center
    &-start.ant-btn
      border-radius: 50%
      width: 180px
      height: 180px
      margin-top: 50px
      background: red
      font-size: 36px
      font-weight: 700
  &_footer.ant-layout-footer
    background: transparent
    text-align: center
    user-select: none