@import '../../../style/variables.scss';
@import '../../../style/fonts.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forumTitle {
  color: $common-white-text;
  text-align: center;
  margin-bottom: 32px;
}

.forumsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 1000px;
  max-height: 425px;
  overflow-y: auto;
  margin-bottom: 100px;
}

.forum {
  border: 1px solid $common-white-text;
  padding: 24px 32px;
  width: 100%;
  display: inline-block;
  color: $common-white-text;
  background-color: $button-color;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 $shadow-color;
}

.forumCreation {
  width: 300px;
}
