@import '@styles/theme.less';
@import '@styles/mixins.less';

.signUp {
  display: flex;
  width: 800px;
  height: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 16px;
  background-color: @white;
  & .title {
    font-family: @font-family-bold;
    font-size: @font-size-title;
    color: @blue_text;
    margin-bottom: 30px;
  }
  &__form {
    flex-grow: 2;
    padding: 0 40px;
  }
  &__btn {
    .button-mixin('accept');

  }
}

.formTitle {
  background-color: red;
}
