@import 'src/assets/style/variables';

.backButton {
  background-color: $medium-turquoise;
  border-radius: 99px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
}
