@import 'src/assets/style/variables';

.link {
    border: none;
    border-radius: 50%;
    display: flex;
    width: 64px;
    height: 64px;
    background-color: #45CAD6;
    color: #ffffff;
}

.img {
    margin: auto;
}